header {
	text-align: center;
}

main {
	width: 100%;
	height: 100%;
}

.family {
	border: 2px solid black;
	border-radius: 50%;
	width: 10%;
	height: 15%;
	text-align: center;
}

.generation {
	display: inline-block;
}


.left {
	margin-left: 25%;
}

.right {
	margin-left: 10%;
}

#children {
	list-style: none;
	display: flex;
	margin-left: 20%;
}

#children li {
	border: 2px solid black;
	padding: 2%;
}