@import './__vars.scss';
html, body {height: 100%;}
body {
  background-color: white;
  margin: 0;
  font-family: 'Galano Grotesque', sans-serif;
}
textarea {
  position: fixed;
  background-color: transparent;
  top: 210px;
  left: 25px;
  font-size: 40px;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none !important;
  width: 75vw;
  bottom: 0;
  color: #fff;
}
.overlay {
  position: fixed;
  pointer-events: none;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(#000, .3);
}
.sc-video-cover {
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  video {
    min-width: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: top;
  }
}

#top-ui {
  position: fixed;
  z-index: 100; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  #primary-btn {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    position: absolute;
    left: 50%;
    cursor: pointer;
    bottom: 40px;
    width: 78px;
    height: 78px;
    margin-left: -39px;
    border: 5px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999;
    span {
      display: block;
      width: 60px;
      height: 60px;
      background-color: rgba(white, .6);
      border-radius: 100%;
    }
    &.press span {
      background-color: red;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  z-index: 999;
  &.show {
    display: flex;
  }
}

#wave {
  height: 70px;
  width: 70px;
  fill: #fff;
}

@for $i from 1 through 9 {
  #Line_#{$i} {
    animation: pulse 1s infinite;
    animation-delay: $i * .15s;
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  
  50% {
    transform: scaleY(.7);
    transform-origin: 50% 50%;
  }
  
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

#right-bar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  color: #fff;
  .icon {
    width: 27px;
    margin-bottom: 21px;
    position: relative;
    img {
      position: relative;
      z-index: 19;
    }
    .pop {
      position: absolute;
      top: 0;
      white-space: nowrap;
      right: 100%;
      padding-right: 15px;
      direction: rtl;
      font-size: 20px;
      font-family: 'David Libre', serif;
      line-height: 1.3;
      small {
        display: block;
        font-size: 16px;
      }
    }
    .expand {
      overflow: hidden;
      width: auto;
      background-color: rgba(#000, .7);
      border-radius: 48px;
      padding: 20px 66px 20px 20px;
      position: absolute;
      top: -19px;
      right: -20px;
      transform: translateX(350px);
      white-space: nowrap;
      transition: all ease .3s .4s;
      img {
        max-width: 27px;
        height: auto;
        transition: all ease .3s;
        & + img {
          margin-left: 20px;
        }
        &:hover {
          transform-origin: center center;
          transform: scale(1.3);
        }
      }
    }
    svg {
      max-width: 100%;
    }
  }
}
#date {
opacity: 0;
position: fixed;
top: 100%;
}
#ind {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  &:focus + .expand {
    transition-delay: .0s;
    transform: translateX(0);
  }
}

#holder {
  position: absolute;
  top: 130px;
  left: 25px;
  img {
    max-width: 27px;
    height: auto;
  }
}

#todate {
  position: fixed;
  top: 85vh;
  color: #fff;
  font-weight: bold;
  left: 25px;
}

#next {
  background-color: $yellow;
  color: #000;
  border-radius: 20px;
  text-align: center;
  width: 127px;
  height: 39px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

iframe {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  &.show {
    display: block;
  }
}