@font-face {
  font-family: 'Galano Grotesque';
  src: url('GalanoGrotesque-Regular.woff2') format('woff2'),
      url('GalanoGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

